# PostgreSQL
PG_URL="postgres://bridge:8FpAVseS8dkxeYLy@localhost:2954/bridge"
PG_SLOT_NAME="pgwal_bridge"
PG_PUB_NAME="pgwal_bridge_pub"

# Kafka
KAFKA_BROKERS="localhost:2994"
KAFKA_USERNAME="bridge"
KAFKA_PASSWORD="zLtS2AXdq2MXsYJK"

# Tables (JSON)
BRIDGE_TABLES = '[{
  "schema": "public",
  "table": "stores",
  "targets": [{
    "topic": "stores_trust_rebuild",
    "partitionKey": "id",
    "match": {
      "or": [
        "total_deals",
        "status"
      ]
    }
  }]
}, {
  "schema": "public",
  "table": "goods_search",
  "targets": [{
    "topic": "goods_search_events",
    "partitionKey": "id"
  }]
}, {
  "schema": "public",
  "table": "stores_search",
  "targets": [{
    "topic": "items_search_events",
    "partitionKey": "item_id"
  }, {
    "topic": "goods_prices_rebuild",
    "partitionKey": "good_id",
    "match": {
      "or": [
        "status",
        "store_status"
      ]
    }
  }]
}, {
  "schema": "public",
  "table": "stores_prices",
  "targets": [{
    "topic": "goods_prices_rebuild",
    "partitionKey": "good_id",
    "match": {
      "or": [
        "rub",
        "usd",
        "eur"
      ]
    }
  }]
}]'
